body{
  margin:0;
  padding:20px;
  background:rgb(199, 197, 194);
  font-family:sans-serif;
}

.container{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
  gap:20px;
}

.card{
  border:none;
  border-radius:10px;
  padding:20px;
  background:rgb(247, 242, 242);
}

button{
  border: 1px solid grey;
  border-radius: 5px;
  padding:8px 10px;
  margin:5px;
  cursor:pointer;
}

input{
  border: 1px solid grey;
  padding:8px;
  margin:5px;
}

#title{
  color: white;
  font-size: 95px;
  font-family: sans-serif;
}
